# Directories
.vs/
Binaries/
Core/Vendor/libtorch/**

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
Makefile

# Exclude
!Vendor/Binaries
Core/Source/Core/ComActors/resources/chess_games.csv
