# Directories
.vs/
Binaries/
Core/Vendor/libtorch/**

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
Makefile

# Exclude
!Vendor/Binaries
App/resources/processedData/*.pt
App/resources/**/*.csv
App/resources/chessDataRatings.pt
App/resources/chessDataPositions.pt
App/resources/tacticEvalsPositions.pt
App/resources/tacticEvalsRatings.pt
